<a href="https://colab.research.google.com/github/Tefei7311099/20230211/blob/main/20230305.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20230305筆記

In [ ]:
import numpy as np
import pandas as pd

## 準備資料

In [ ]:
grades = np.random.randint(30, 101, (10, 4))

In [ ]:
df = pd.DataFrame(grades)

In [ ]:
df.columns = ['國文','英文','數學','理化']

In [ ]:
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇","陳仲燦",
            "王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

In [ ]:
df

     國文   英文  數學  理化
郭雅惠  56   80  92  97
陳欣虹  75   58  85  81
王孟修  82   76  93  86
李政勇  81   74  94  85
陳仲燦  56   51  88  82
王寧東  86  100  65  81
楊雅名  74   71  32  43
藍冰啟  32   52  71  31
林玉亨  37   81  57  75
崔承睿  53   45  65  46

## 讀取特定欄位

### 讀取所有人的國文成績 (單一個欄位)

In [ ]:
df['國文']

郭雅惠    56
陳欣虹    75
王孟修    82
李政勇    81
陳仲燦    56
王寧東    86
楊雅名    74
藍冰啟    32
林玉亨    37
崔承睿    53
Name: 國文, dtype: int64

In [ ]:
type(df['國文'])

pandas.core.series.Series

### 同時讀取多個欄位 (使用list) (e.g.,讀取國文及英文成績)

In [ ]:
df[['國文','英文']]

     國文   英文
郭雅惠  56   80
陳欣虹  75   58
王孟修  82   76
李政勇  81   74
陳仲燦  56   51
王寧東  86  100
楊雅名  74   71
藍冰啟  32   52
林玉亨  37   81
崔承睿  53   45

In [ ]:
df[['國文']]

     國文
郭雅惠  56
陳欣虹  75
王孟修  82
李政勇  81
陳仲燦  56
王寧東  86
楊雅名  74
藍冰啟  32
林玉亨  37
崔承睿  53

In [ ]:
type(df[['國文']])

pandas.core.frame.DataFrame

## 讀取單一列資料

In [ ]:
df['郭雅惠']

KeyError: ignored

### 使用 .loc() 及 .iloc()

In [ ]:
df.loc['郭雅惠']

國文    56
英文    80
數學    92
理化    97
Name: 郭雅惠, dtype: int64

In [ ]:
df.iloc[0]

國文    56
英文    80
數學    92
理化    97
Name: 郭雅惠, dtype: int64